/* styles.module.scss */
.wrapper {
  @apply text-black px-5 pt-2;
  margin: 0 auto;
  background-image: url('../../public/BackgrounMainPage.png');
  background-size: 120%;
  background-repeat: no-repeat
}
// ---- header----

.headerBlock {
 .headerBlock {
  max-width: 1280px;
  @apply items-center mx-auto flex justify-between p-6 text-xl drop-shadow-xl 
} 
}
.header{
  @apply flex items-center  
}
.headerTitle{
  margin-right: 5px;
}
.headerLogoImg{
  width: 30px;
  height: 28px;
}

.headerUl {
  @apply flex 
}
.headerLink{
  @apply mr-20;
  text-decoration: none;
}
.headerUl li:last-child .headerLink{
  @apply mr-0
}
// ----start screen-------

.startScreen {
  @apply text-black px-5 pt-2;
  max-width: 1280px;
  margin: 0 auto;
}

.title {
  @apply text-5xl font-bold mb-1 text-green-400 flex justify-center;
}

.topicBlockItem {
  @apply pb-2 mt-5;
}

.topicItemIcon {
  @apply flex text-2xl font-bold items-center p-4 bg-green-300 mb-5 rounded-2xl drop-shadow-2xl shadow-xl;
  background-image: url('../../public/noise_transparent.png');
  justify-content: space-between;
}

.topicIconbloks {
  @apply flex items-center;
}

.topicText {
  @apply mr-5;
}

.topicImg {
  width: 80px;
  height: 70px;
}

.topicItemUser {
  @apply flex justify-center;
}

.topicUserText {
  margin-right: 5px;
  @apply bg-pink-400 p-3 rounded-xl text-xl items-center;
  background-image: url('../../public/noise_transparent.png');
}

.topicUserText:first-of-type {
}

.topicUserText:last-of-type {
  margin-right: 0;
}

.rationBlock {
  @apply mx-auto pb-10 ;
  max-width: 1280px;
  text-align: center;
}

.calculateButton {
  @apply mt-5 bg-blue-500 text-white py-2 px-4 rounded;
}

.totalStars {
  @apply mt-3 text-2xl font-bold;
}

.studentStars {
  @apply mt-3;
}
.diagramContainer {
  @apply flex justify-center;
  margin: 0 auto; 
}


// -------games page------
.wrapperGames{
    @apply text-black px-5 pt-2;
    margin: 0 auto;
    background-image: url('../../public/gamesPage/bgGamesPage.png');
    background-size: 100%;
    height: auto;
    background-repeat: no-repeat;
    padding-bottom: 50px;
}
.gamesTitleBlock{
  @apply flex items-center justify-center bg-slate-100 p-5 mb-32 rounded-lg
}
.gamesText{
  @apply pr-3
}
.gamesTextSpan{
  @apply font-bold
}
.gamesTextIcon{
  width: 56px;
  height: 56px;
}

.gamesAnogramBlock{
  @apply bg-slate-100 rounded-lg p-5 mb-32
}
.anogramWorld{
  @apply mb-3 border-b-4 items-center flex justify-center px-4
}
.anogrgamTitle{
  @apply font-bold text-3xl flex justify-center mb-4
}

.anogramActiveBlock{
  @apply font-bold text-xl flex justify-around
}
.anogramaEl{
  @apply border-4 flex justify-center px-4 py-2 mb-2 rounded-lg;
  
  @apply focus:outline-none
}